<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Animal0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Animal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1378},{250,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,216}}</string>
                <key>sourceSize</key>
                <string>{250,216}</string>
            </dict>
            <key>Elephant.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Eye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1892},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Eye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1892},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Snake1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1744},{146,220}}</string>
                <key>offset</key>
                <string>{52,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,30},{146,220}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Snake2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1596},{146,220}}</string>
                <key>offset</key>
                <string>{52,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,30},{146,220}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>X1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{250,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,216}}</string>
                <key>sourceSize</key>
                <string>{250,216}</string>
            </dict>
            <key>X2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{250,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,216}}</string>
                <key>sourceSize</key>
                <string>{250,216}</string>
            </dict>
            <key>X3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{250,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,216}}</string>
                <key>sourceSize</key>
                <string>{250,216}</string>
            </dict>
            <key>X4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{250,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,216}}</string>
                <key>sourceSize</key>
                <string>{250,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f43a93281a4e3e3fec3ffa832dfcfa0:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
